@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    background:skyblue;
}

.wrapper
{
    margin: 50px;
    display: grid;
    gap: 25px;
    grid-template-columns:repeat(auto-fill, 265px);
}
.wrapper li
{
    height: 250px;
    list-style: none;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px 20px 20px;
}

.add-box, .icon, .bottom-content, .popup, .settings .menu li, header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-box
{
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    
}

.wrapper .note{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.add-box .icon
{
    justify-content: center;
    height: 78px;
    width: 78px;
    color: skyblue;
    font-size: 40px;
    border-radius: 50%;
    border: 2px dashed skyblue;
}

.add-box p{
    color: skyblue;
    font-weight: 600;
    margin-top: 20px;
}

.note p{
    font-size: 22px;
    font-weight: 600;
}
.note span{
    display: block;
    margin-top: 5px;   
    color: #3d3c3c;
    font-size: 16px;
}

.note .bottom-content
{
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.bottom-content span
{
    color: #6d6d6d;
    font-size: 14px;
}

.bottom-content .settings
{
    color: #6d6d6d;
    /*position: relative; */
    font-size: 15px;
    cursor: pointer;
}

.settings
{
    position:relative;
}

.settings .menu
{
    z-index: 1;
    width:max-content;
    position: absolute;
    bottom: 0;
    padding: 5px 0;
    right: -5px;
    border-radius: 4px;
    transform: scale(0);
    transform-origin: bottom right;
    background: #fff;
    box-shadow: 0 0 6px rgba(0,0,0,0.15);
    transition: transform 0.2s ease;
    /*
      z-index: 1;
  bottom: 0;
  right: -5px;
  padding: 5px 0;
  background: #fff;
  position: absolute;
  border-radius: 4px;
  transform: scale(0);
  transform-origin: bottom right;
  box-shadow: 0 0 6px rgba(0,0,0,0.15);
  transition: transform 0.2s ease; */
}
.settings.show .menu{
    transform: scale(1);
}
.settings .menu li
{
    /* height:25px;
    border-radius: 0;
    font-size: 16px;
    cursor: pointer;
    padding: 17px 15px;
    justify-content: flex-start; 
    eskisi */
    height: 25px;
    font-size: 16px;
    margin-bottom: 2px;
    padding: 17px 15px;
    cursor: pointer;
    box-shadow: none;
    border-radius: 0;
    justify-content: flex-start;
}
.menu li:hover
{
    background: #f5f5f5;
}
.menu li i
{
    padding-right: 8px;
}

.popup-box{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.4);
  }

.popup-box .popup
{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    max-width: 400px;
    width: 100%;

    justify-content: center;
    transform:  translate(-50%, -50%);
}

.popup-box, .popup-box .popup
{
    opacity: 0;
    pointer-events: none;
    transition: all 0.25s ease;
    
}

.popup-box.show, .popup-box.show .popup{
    opacity: 1;
    pointer-events: auto;
  }
.popup .content
{
    width: calc(100% - 15px);
    background: #fff;
    border-radius: 5px;
    
}

.popup .content header{
    
    padding: 15px 25px;
    border-bottom: 1px solid #ccc;
}

.note .details
{
    max-height: 165px;
    overflow-y: auto;
}

.content header p{
    
    font-size: 20px;
    font-weight: 600;
}
  

.content header i{
    color: #8b8989;
    cursor: pointer;
    font-size: 23px;
}
.content form{
    margin: 15px 25px 35px;
}
.content form .row{
    margin-bottom: 20px;
}
.content form label{
    display: block;
    font-size: 18px;
    margin-bottom: 6px;
    text-align: center;
}

.content form :where(input, textarea)
{
     width: 100%;
     height: 50px;
     resize: horizontal;
     font-size: 17px;
     padding: 0 15px;
     outline: none;
     border-radius: 4px;
     border: 1px solid #999;
}

.content form textarea
{
    padding: 8px 15px;
    height: 150px;
    resize: vertical;
     
}
.content form button
{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    background: skyblue;    
}